@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-balance {
  @layer utilities {
    text-wrap: balance;
  }
}

:root {
  --background-color: #ffffff;
  --text-color: #4f4f4f;
  --font-pt-serif: "PT Serif", serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

input {
  outline: none;
}

h1 {
  font-family: var(--font-pt-serif);
  font-size: xx-large;
}

.spinner {
  transition: transform 1s ease;
}

.b-icon:hover .spinner {
  transform: rotate(360deg);
}
